project:
  type: website
  output-dir: _site

website:
  title: "DuckMSI - Parquet Explorer"
  navbar:
    left:
      - href: index.qmd
        text: Home

format:
  html:
    theme: flatly
    css: styles.css
    toc: false
